# Local Netlify folder
.netlify
.opencode
.agent
.agents

# Environment variables (never commit)
.env
.env.local
.env.*.local

# Build outputs
dist

# Dependencies
node_modules

# Local IA Code
CLAUDE.md