@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
  /* scroll horizontal prolijo */
  ::-webkit-scrollbar {
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(24, 24, 27, 0.6);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(63, 63, 70, 0.8);
    border-radius: 999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(82, 82, 91, 0.9);
  }
}
